*~
*.elc
*.dat
.python-environments/
personal/preload/
/prelude-modules.el
/var/pcache
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
